<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prabandhah.prabandhah">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logocom"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logocom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Account_Settings_Change_Password"></activity>
        <activity android:name=".Account_Settings_Edit_Profile" />
        <activity android:name=".Ui_subtaskDetailview" />
        <activity android:name=".Ui_createsubtaskforteammembers" />
        <activity android:name=".Ui_subtaskForteammembers" />
        <activity android:name=".Ui_tasklistofteam" />
        <activity android:name=".Ui_Includedteam_taskDetail" />
        <activity android:name=".tabs.Delay_task" />
        <activity android:name=".tabs.Completed_task" />
        <activity android:name=".tabs.Assigned_task" />
        <activity android:name=".Ui_setting_help" />
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPage" />
        <activity android:name=".Sign_up" />
        <activity android:name=".HomePage" />
        <activity android:name=".ForgetPassNewPassword" />
        <activity android:name=".are_you_owner_or_admin" />
        <activity android:name=".Ui_home" />
        <activity android:name=".Ui_notification" />
        <activity android:name=".Ui_employeeList" />
        <activity android:name=".Ui_eventList" />
        <activity android:name=".Ui_taskList" />
        <activity android:name=".Ui_setting" />
        <activity android:name=".Ui_teamList" />
        <activity android:name=".Ui_createTeam" />
        <activity android:name=".Ui_createEvent" />
        <activity
            android:name=".addEventManagerInEvent"
            android:label="@string/title_activity_add_event_manager_in_event"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI_addEventManagerInEvent" />
        <activity android:name=".addNewEventManger" />
        <activity android:name=".tabs.EmpList" />
        <activity android:name=".tabs.EventMangerList" />
        <activity android:name=".tabs.adminOrOwnerList" />
        <activity android:name=".UI_employeeListPager" />
        <activity android:name=".tabs.adminList" />
        <activity android:name=".tabs.AdminList" />
        <activity android:name=".tabs.Assing_event" />
        <activity android:name=".tabs.Completed_event" />
        <activity android:name=".Ui_EventListPager" />
        <activity android:name=".UI_Task_ListPager" />
        <activity android:name=".tabs.Delay_event" />
        <activity android:name=".UI_Profile_details" />
        <activity android:name=".Ui_companyProfile" />
        <activity android:name=".Ui_company_profile_edit" />
        <activity android:name=".Ui_profile_details_edit" />
        <activity android:name=".Ui_createTeamProfile" />
        <activity android:name=".Ui_settings_Account_setting" />
        <activity android:name=".UI_settings_Chat_Settings" />
        <activity android:name=".Ui_settings_notification_setting" />
        <activity android:name=".Settings_about_us" />
        <activity android:name=".Ui_settings_about_us" />
        <activity android:name=".Ui_AssignNewEventmanger" />
        <activity android:name=".UI_AssignNewAdmin" />
        <activity android:name=".Ui_team_in_DetaiView" />
        <activity android:name=".Ui_add_EmpInTeam" />
        <activity android:name=".Ui_Detail_ViewOfEvent" />
        <activity android:name=".Ui_edit_Detail_of_event" />
        <activity android:name=".Temp_role_testing" />
        <activity android:name=".Ui_incluededTeams" />
        <activity android:name=".Ui_addTeamToEvent" />
        <activity android:name=".Ui_AssignTask_To_addedTeam" />
        <activity android:name=".verfiy_your_mail" />
        <activity android:name=".Create_UserProfile" />
        <activity android:name=".Create_companyProfile" />
        <activity android:name=".Join_your_company" />
        <activity android:name=".Create_companyProfile1" />
        <activity android:name=".Ui_Setting_Report_bug" />
    </application>

</manifest>